  .main {
    max-width: 1440px;
    overflow: hidden;
    overflow-x: scroll;

    gap: 2rem;
    font-size: 0.85rem;

    scrollbar-width: auto;
    scrollbar-color: #030028 #ffffff;

    padding-bottom: 4rem;
  }

  .main::-webkit-scrollbar {
    width: 1rem;
  }

  .main::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .main::-webkit-scrollbar-thumb {
    background-color: #030028;
    border-radius: 0.625rem;
    border: 3px solid #ffffff;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(10, 300px);
    gap: 2rem;
  }


  @media screen and (max-width: 768px) {
    .main {
      justify-content: center;
      align-items: center;
    }
  }