.main {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.notFound{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}