  .pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 0 1rem;
  }

  .pagination p{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    color: #A7CB54;
  }
  
  .pagination button{
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 130%;
    background: #FFFFFF;
    border: none;
    
    text-align: center;
    padding: 0.1rem 1rem;
    filter: drop-shadow(0px 9px 28px rgba(255, 255, 255, 0.1));
  }
  
  .pagination button span{
    background: linear-gradient(180deg, #A7CB54 0%, #030028 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 768px){

  }

  @media (min-width: 1024px){
    .pagination button{
      font-size: 1.25rem;
      padding: 0.1rem 2rem;
    }
  }

 