.main{
    width: 100%;
    margin-top: 5rem;
    
    background-image: url('../../../public/bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.logo{
    width: 100%;
    min-height: 370px;
    background-image: url('../../../public/rick_and_morty_logo.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.filter{
    width: 100%;
    display: flex;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
}

@media (min-width: 768px){
    .main{
        height: 600px;
    }
    .filter{
        top: 15rem;
    }
}

@media (min-width: 1024px){
    .main{
        height: 800px;
    }
    .filter{
        top: 20rem;
    }
}

@media (min-width: 1280px){
    .main{
        height: 1065px;
    }
    .filter{
        top: 30rem;
    }
}