.main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #A7CB54;
}

.title{
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #030028;
}

.description{
  max-width: 35rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}