.filter{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter form{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter .title{
  width: 100%;
  font-size: 1.25rem;
  line-height: 2rem;
}

.filter input{
  width: 100%;
  max-width: 30rem;
  font-size: 1rem;
  line-height: 1.25rem;
  
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;

  border: none;
  outline: 0;
}

.filter select{
  font-size: 1rem;
  line-height: 1.25rem;
  
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;

  border: none;
  outline: 0;
}

.filter button{
  width: 100%;
  max-width: 10rem;
  font-size: 1rem;
  line-height: 1.25rem;
  
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;

  border: solid 1px transparent;
  outline: 0;
  cursor: pointer;
  background-color: #c3c3c3;
  color:white;
  font-weight: 700;
}

.filter button:hover{
  background-color: #c3c3c333;
  border: solid 1px #c3c3c3;
}

.filter label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

}
.filter label input{
  width: 30px;
}
