.filter{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.filter input{
  width: 100%;
  max-width: 54rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;

  background-color: transparent;
  border: white solid 1px;
  color: white;
  
  border-radius: 2rem;
  padding: 0.5rem 1.25rem;
  outline: 0;
}

.filter input::placeholder{
  color: #FFFFFF88;
  opacity: 1;
}

.filter select{
  outline: 0;
  border: none;
  border-radius: 0.5rem;  
  padding: 0.25rem 1rem;
  
  font-size: 1rem;
  line-height: 1.25rem;
}

.filter button{
  padding: 0.2rem 1rem;
  background: #FFFFFF;
  border-radius: 2.5rem;
  
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 150%;
  text-align: center;

  filter: drop-shadow(0px 9px 28px rgba(255, 255, 255, 0.1));
  cursor: pointer; 
  outline: 0;
}

.filter button span{
  background: linear-gradient(180deg, #A7CB54 0%, #030028 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;

}

.filter label input{
  width: 30px;
}

@media (min-width: 768px){
  .filter button{
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
  }

  .filter select{
    padding: 0.5rem 1.25rem;
  }
}