.main{
    width: 100%;
    padding: 2rem 1rem;
}

.card {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 3rem 2rem;
    background: #030028;
    border-radius: 10px;
}

.main h2{
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.main .buttons{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.main button {
    padding: 1rem 2rem;
    border-radius: 0.625rem;

    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

.buttonFilled{
    background: #FFFFFF;
    color: #030028;
    border: 2px solid transparent;
}

.buttonFilled:hover{
    background: #f6f6f1;
    color: #030028;
    border: 2px solid transparent;
}

.buttonFilled:active{
    border: 2px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

.buttonFill{
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.buttonFill:hover{
    color: #C2C3C4;
    border: 2px solid #C2C3C4;
}

.buttonFill:active{
    background: #FFFFFF;
    color: #030028;
    border: 2px solid transparent;
}

@media (min-width: 1024px){
    .main{
        padding: 2rem 10rem;
    }

    .card{
        padding: 3rem 10rem;
    }
    
    .main .card h2{
        font-size: 3rem;
    }

    .main button {
        padding: 1rem 2rem;
    }
    .main .buttons{
        flex-direction: row;
    }
}