.header{
    width: 100%;
    max-width: 1440px;
    height: 5rem;
    padding: 1rem 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    background-image: url('../../../public/void.webp');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0rem 0rem 0.5rem #00000033;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 10;

    box-shadow: 1rem 1rem 1rem #00000033;
}

.header .navigation{
    display: flex;
    color:#000000;
    gap: 1rem;
    font-weight: 700;
}
.header .navigation a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #FFFFFF;
    
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: all;
    transition-duration: 0.7s;
}

.header .navigation a:hover{
    color: #A7CB54;
}

.header .navigation a:hover:after{
    content: '';
    width: 50%;
    border-bottom: 2px #A7CB54 solid;
}

@media (min-width: 768px){
    .header .navigation{
        gap: 5rem ;
    }

    .header .navigation a{
        font-size: 1.5rem;
    }
}