

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../public/bg.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo{
  width: 100%;
  min-height: 370px;
  background-image: url('../../public/rick_and_morty_logo.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.characters{
  margin-top: 30rem;
}