.main {
  width: 100%;
  padding: 0 1rem;
  margin-top: -2rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.notFound{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}