.main{
    width: 100%;
    max-width: 1440px;
    height: 10rem;
    padding: 1rem 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    background-color: #fdfdfd;
    box-shadow: 0rem 0rem 0.5rem #00000033;
    box-sizing: border-box;
}